.btn {
  background: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  font: inherit;
  color: white;
  margin: 10px;
  padding: 10px;
}
.btn:hover{
    cursor: pointer;
}
.btn-y {
    background: #388e3c;
}
.btn-n {
    background: #de2f2f ;
}
